.post-img{
    height: 404px;
    overflow: hidden;
}
.post-img img{
    width: 100%;
}
.blog-post-content{
    background-color: rgb(7, 106, 73);

}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px;
}
.row{
    display: flex;
}
.more-post{
flex-direction: column;
text-align: center;
}
.blogpost-meta{
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0px;
}
.author-info div{
    padding: 4px 12px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}