* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 23px;
    font-family: var(--font1);
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}
.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}


.content {
    height: 100%;
    background-color: blueviolet;
    display: flex;
    margin-top: 23px;
    padding: 9px;
}

.content::after {
    content: "";
    background-image: url("C:\Users\Sumit\OneDrive\Desktop\Practice Html\Responsive block template\img\vecteezy_circle-shaped-social-media-icons-set_834967\social midia 0.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.content-left {
    font-family: var(--font);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right img {
    height: 100px;
    width: 50%;
    border: 2px solid black;
    border-radius: 95px;
}

.home-articles {
    /*height: 455px;*/
    padding-top: 18px;
    background-color: aqua;
    margin-top: 23px;
    position: relative;
}

.year-box {
    position: absolute;
    background-color: red;
    right: 419px;
    top: 100px;
    width: 234px;
    height: 255;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}
.home.article {
    display: flex;
    margin: 50px;
}

.home-article img {
    width: 200px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: red;
}

.footer {
    height: 50px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: orange;
}